.heroContainer {
    width: 100vw;
    height: 693px;
    background-color: #0B1113;
}

.heroText {
    height: 515px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
}

.heroHeading {
    margin-top: 69px;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    width: 327px;
    height: 180px;
}

.heroSubText {
    width: 327px;
    height: 108px;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 57px;
}

.heroCta {
    width: 193px;
    height: 42px;
    background-color: #FFFFFF;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0B1113;
}